<% if @error.present? %>
  $("#login-tip").html("<span class='error'><%= @error %></span>");
<% else %>
  $("#login-tip").html("Success! Redirecting...");
  window.location.href = '<%= rsi_portals_path %>';
<% end %>