<h1>
    About Us
</h1>
<hr />
<p>
    Brainpage is building a cloud-based engine for time series data and sensors. Time
    series data is the foundation for the next generation of Internet, the Internet
    of Things, and an increasingly important part of big-data and Web2.0 “intelligence”.
</p>
<p>
    Traditional database and analysis systems failed to provide ease-of-use and robustness
    for time series data: performing temporal math, correlations and machine learning
    with SQL is nearly impossible and NoSQL solutions do not go beyond a simple timestamp
    and value paradigm.
</p>
<p>
    We give suppliers and developers dealing with time-series data access to an easy-to-use,
    scalable and flexible database and analysis system for time-series data. Unique
    features not readily available in other systems or software include easy-to-use
    temporal correlations, a JavaScript based query language designed for time-doman
    problems, uneven sampling support and Websocket integration.
</p>
<p>
    Combined with our knowledge in hardware manufacturing and embedded systems along
    with libraries using modern web technologies (such as d3 graphing), we work with
    partners to deliver next-generation sensor based experiences.
</p>
<p>
    If you are interested in our big-data processing and storage solutions, please contact
    us at info@brainpage.com
</p>