<h1>
   Products
</h1>
<hr />
<h2>
    Big Data Analysis & Process Platform</h2>

<div class="soon">
    Coming soon ...</div>
<hr />
<h2>
    Quantified Self</h2>
<div class="rsi">
    <ul>
        <li>Take Breaks When Needed</li>
        <li>Optimize Your Day </li>
        <li>Improve Professional Skills</li>
        <li>Learn Friends' App</li>
    </ul>
    <p>
        <a href="/rsi/portals" class="button">Try Now</a></p>
</div>
<hr />
<h2>Follow Us</h2>
   
   <p>
   <a href="http://www.twitter.com/BrainpageCo" target="_blank" class="twitter">BrainpageCo</a>
   </p>