<h1>
   Products
</h1>
<hr />
<h2>
    Big Data Storage & Processing Platform (Coming Soon...)</h2>

  <div class="soon"><ul><li><a href="/about">A brief overview of what we are doing</a></li>
      <li><a href="mailto:info@brainpage.com">Contact us to discuss</a></li></div>

<hr />
<h2>
  Quantified Self</h2>
<div class="rsi">
  <ul><li><p><b>PC/Mac App - Stop RSI and Analyze your computer usage.</b> <a href="/rsi/portals" class="button">Try Now</a></p>
    <ul>
        <li>Take Breaks When Needed</li>
        <li>Optimize Your Day </li>
        <li>Improve Professional Skills</li>
        <li>Learn Friends' App</li>
    </ul>    
        </li>
    </ul>
</div>
<hr />
<h2>Follow Us</h2>
   
   <p>
   <a href="http://www.twitter.com/BrainpageCo" target="_blank"><%= image_tag "twitter.png", :alt => "Twitter" %></a>
	<a href="http://www.facebook.com/brainpageco" target="_blank"><%= image_tag "facebook-small.png", :alt => "Facebook" %></a>
	<a href="http://weibo.com/brainpage" target="_blank"><%= image_tag "weibo.png", :alt => "Sina Weibo" %></a>
    <a href="http://blog.brainpage.com">Blog</a></p>
