<h1>
    Data Policy
</h1>
<hr />
<h2>
    Our data policy is very simple, but very important. Here it is:</h2>
<p>
    1. You own your data. You can view it, delete it and choose what is done with it.
</p>
<p>
    2. We reserve the right to aggregate your data with other users’ data, as long as
    the aggregation removes any user identifying information. We show you what aggregations
    we do and you can remove your data from them. (The goal of aggregation may be, for
    example, for you to see how you perform compared to other similar users).
</p>
<p>
    3. We will use your email address or other contact information for communications
    originating from our company. You can, of course, delete your account at anytime.
</p>
<p>
    4. We will not share your information, in non-aggregated forms, with third parties
    unless you allow us.
</p>
<div class="tree">
    5. Exceptions to (1):
    <p>
        a. We currently use third party logging and web analytics services. These services
        collect data on you that you cannot view or delete . We are currently working to
        remove our dependence on these services.
    </p>
    <p>
        b. We currently do not support the ability to delete all user information from our
        logs. We are working to implement this functionality.
    </p>
    <p>
        c. When we delete your data it will remain, in aggregate form, in historical analysis.
    </p>
</div>