Sensor UUID: <input type="text" value=<%= @uuid %> id="sensor_uuid" /><br/>
Sensor Token: <input type="text" id="sensor_token" value=<%= @token %>><br/>
<input type="submit" id="connect" value="Connect" />
<div id="chatLog">

</div>
