$font-size: 18px;
body{font-size:$font-size !important;}
input, button, select, submit, label{font-size:18px !important;}
p{font-size: $font-size * 0.9 !important}
.btn-large{font-size: 20px !important}

.f11{font-size: $font-size * 1.1}
.f10{font-size: $font-size}
.f9{font-size: $font-size * 0.9}

.navbar{font-size:18px;}
.navbar .brand{font-size:24px !important; }
.navbar .pull-right{font-size:18px; }


.footer{font-size: $font-size * 0.9}
.reg-form label{font-size: $font-size; }

.login-label{text-align:right; font-size:16px}

svg text{
  font-size: 14px;
}

.side-label{font-size:18px !important}
.center-label{font-size: 20px !important; }

.nav-tabs li{font-size: 16px; }

#land h1{font-size: 36px !important;}
#land .sub{font-size:20px;margin:5px 0;}
#land h2{font-size:24px !important}
#land p{font-size:18px !important;line-height:20px;}
.hover_caption h3{font-size:18px;}
#land .logo span{line-height:40px; font-size:36px !important}
#land .sub2{line-height:18px;font-size:18px;}

#land .desc p{font-size:14px !important}

.calendar div{font-size:14px }

.alert{font-size:16px !important}

