$font-size: 14px;
body{font-size:$font-size !important;line-height:20px !important;}
input, button, select, submit, a{font-size:$font-size;}
p{font-size: 12px !important}
.btn-large{font-size: 14px !important}

.f11{font-size: $font-size * 1.1}
.f10{font-size: $font-size}
.f9{font-size: $font-size * 0.9}

.footer a{font-size:12px}

.navbar .brand{font-size:24px !important; }

.footer{font-size: 12px}
.reg-form label{font-size: $font-size; }

.login-label{text-align:right; font-size:12px}
.feeds .sub span {font-size: 12px !important;}

svg text{
  font-size: 12px;
}
svg .center-label{font-size:14px !important}

.calendar div{font-size:12px;}

.nav-tabs li{font-size: 14px; }

#land h1{font-size: 28px !important;}
#land .sub, #land .sub2{font-size:14px;}
#land h2{font-size:22px !important; font-weight: bold !important}
#land p{font-size:14px !important;line-height:25px;}
.hover_caption h3{font-size:14px !important}