$font-size: 14px;
@mixin font{font-family: '微软雅黑','宋体', sans-serif !important;  }

body{font-size:$font-size !important;line-height:20px !important; @include font; }
input, button, select, submit, a, p, svg{font-size:$font-size !important; @include font;}
p{font-size: 12px !important}
.btn-large{font-size: 14px !important}

.f11{font-size: $font-size * 1.1}
.f10{font-size: $font-size}
.f9{font-size: $font-size * 0.9}

.footer a{font-size:12px}
.navbar a{font-size:16px !important}
.navbar .brand{font-size:24px !important; }

.footer{font-size: 12px}
.reg-form label{font-size: $font-size; }

.login-label{text-align:right; font-size:12px}
.feeds .sub span {font-size: 12px !important;}

svg text{
  font-size: 12px;
}
svg .center-label{font-size:14px !important}

.calendar div{font-size:12px;}

.nav-tabs li{font-size: 14px; }

#land h1{font-size: 28px !important;}
#land h2{font-size:20px !important; }
#land p{line-height:25px;}
#land .logo{padding-top:20px;}
#land h1{padding-top:10px;}
#land .sub{padding-left:5px}
.hover_caption h3{font-size:14px !important}