$font-size: 16px;
@mixin font{font-family: 'Carme', sans-serif !important;  }

body
{
    @include font;
    font-size: $font-size;
    background-image: url("/assets/grid.png");
}
input, textarea, button, select, submit, label, a, span, .uneditable-input{font-size:$font-size; @include font;}
img{vertical-align:middle; margin-top:-5px; border:none;}
h1, h2{font-weight:normal;}
h3{margin:15px 0;}
small{margin-left:10px;}
p, li{line-height:20px}
textarea{height:80px}
.pull-right{margin-left: 15px;}

.align-center{text-align: center}
.align-right{text-align: right}
.no-border{border-bottom:none;}

.img-link{background-repeat: no-repeat;  background-position:left center; padding-left:20px; height: 16px}
.edit{background-image:url("/assets/edit.png")}
.del{background-image:url("/assets/delete.png")}
.list{background-image:url("/assets/list.png")}
.run{background-image:url("/assets/run.png")}
.save{background-image:url("/assets/save.png")}

.header .logo
{
    height:60px;
    background: url("/assets/logo-big.png") no-repeat scroll left center;
    padding-left: 65px;
    margin: 20px 0;
}

.header .logo .name
{
    font-weight: bold;
    font-size: 40px;
    padding: 10px 0 15px 0;
    color: #333;
}

.header .logo .sub
{
    font-size: 16px;
    color: #3B77C3;
}

.header-menu{width:500px}

.header input{margin-right:5px}
.brand{background: url('/assets/logo_white.png') no-repeat scroll left center;height:25px;width:20px;}
.navbar .nav > li a{height:30px; line-height:30px}

.color-bar div
{
    float: left;
    width: 33%;
    height: 4px;
}
.color-bar .yellow{ background: #F1C416;}
.color-bar .green{ background: #93D00D;}
.color-bar .blue{ background: #35B1F1;}

.navbar .nav > li{border-top:2px solid transparent; }
.navbar .nav > li a{height:25px; line-height:25px; font-weight: bold; color: #ddd;}
.navbar .nav > li.active{border-top:2px solid #35b1f1;}
.navbar .dropdown-menu, .navbar .dropdown-menu a{color: #111;}

.main
{
	margin-top:70px;
	background: #fff;	
}
.main .thumbnail{min-height:450px;}

.thumbnail{background: #fff; padding:10px 20px; margin-top:20px}

.query-clause{ padding: 10px; background: #E6E8F2; -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.3); -o-box-shadow: 0px 2px 5px rgba(0,0,0,.3); box-shadow: 0px 2px 5px rgba(0,0,0,.3); cursor: text; line-height:25px; margin-bottom:10px;}
.query-clause .marker{float:left;margin-right:3px;}
.query-clause #query-clause:focus{outline: none}

.footer
{
    padding: 35px 0 36px;
}
.footer a{margin-right:15px}
