$opacity: 0.8;
$line-height: 25px;
@mixin opacity{filter:alpha(Opacity= $opacity * 100);-moz-opacity: $opacity; opacity: $opacity;fill-opacity: $opacity;}
@mixin low-opacity{filter:alpha(Opacity= $opacity * 0.5 * 100);-moz-opacity: $opacity * 0.5; opacity: $opacity * 0.5;}
@mixin high-opacity{filter:alpha(Opacity= $opacity * 1.2 * 100) !important;-moz-opacity: $opacity * 1.2 !important; opacity: $opacity * 1.2 !important;fill-opacity: $opacity * 1.2 !important;}
@mixin font{font-family: 'Marmelad', sans-serif;  }
@mixin round{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

body{ margin:0; padding:0;height:100%; @include font; background: url('/assets/grid.png'); color: #222;}
input, button, select, submit{@include font;}
a{color: #3b77c3}
li{list-style: none}
img{vertical-align:middle; margin-top:-5px;}
h2,h3,h4,h5,h6{font-weight: normal !important}
.center{text-align: center}
.right{text-align: right}
.clear{clear:both}

.navbar-inner{@include high-opacity; }
.navbar a{color: white;}
.navbar .nav > li > a{color: #eee;}
.navbar .nav > li{border-top:2px solid transparent;}
.navbar .nav > li.active{border-top:2px solid #35b1f1;}
.navbar .dropdown-menu, .navbar .dropdown-menu a{color: #333;}

.navbar-banner div{float:left; width:33%;height:4px;}
.navbar-banner .blue{background-color: #35b1f1}
.navbar-banner .yellow{background-color: #93d00d}
.navbar-banner .green{background-color: #f1c416;width:34%}

.brand{background: url('/assets/logo.png') no-repeat scroll left center;height:40px; padding:0 !important; padding-left:60px !important;margin-left:-40px !important;}

.main{background:#fff; min-height:600px; padding:25px 30px 40px 30px;border:1px solid #eee;
-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.header{height:60px; margin-top:15px;}
.header .logo{font-size:46px; line-height:46px;color:#555}
.header .logo img{height:50px;}

.ad-block img{width:360px; text-align: center}
.block{@include round; background-color: #8ec1da; color: white; padding:10px; margin-bottom:20px}

.footer{margin:20px 0;}
.footer a{margin:0 10px}

.modal-header{background-color: hwiteSmoke !important}

.login-form{width:460px}
.login-form .modal-body{padding-bottom: 2px;}
.login-form .modal-footer{padding: 8px 15px 5px 15px;}
.login-form .control-group{margin-bottom:5px;}
.login-form .control-label{width:100px; }
.login-form .controls{margin-left:120px}
.login-form .span2{width:150px;margin-right: 5px}
.login-form .btn{margin-top:0}
.login-form a{display: inline}
.login-form .footer-text{line-height: 30px;}
.login-form .error{color: #B94A48}
.login-form .input{height:30px; display:inline}
#login-tip{line-height:32px}

.calendar{width:240px;margin-bottom:-20px;}
.calendar .month{font-size: 150%;}
.calendar div{float:left;width:32px; text-align:center}
.calendar div.first{}

hr.soften {
  height: 1px;
  margin: 40px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
.accept{text-align: center;margin:-10px 0 10px 0}

.b{margin-bottom: 10px; line-height:25px;  background: no-repeat scroll 15px center; width:100%;  color:White; }
.b a{color: white;display: block}
.p{padding: 10px 15px;}

.login-input{width:140px !important}
.login-label{text-align:right;}
   
.ad{padding:0; margin:0; margin-top: 20px;}
.ad li{margin-top: 20px}

.form-horizontal{margin:10px 0 10px 0;}
.form-horizontal input{margin-bottom: 10px;}

.feeds{padding:1px 0 0 0; margin:0;}
.feeds li{list-style: none; margin-top:20px; line-height: $line-height}
.feeds .feed-icon{width:48px;}
.feeds .sub{font-size: 80%; }
.feeds .sub a{margin-right:15px;}
.feeds .content{}

.app-cloud{margin:20px 0}
.app-cloud .user{padding:10px;height: 45px; line-height:45px; text-align:right}
.app-cloud .soften{margin:20px 0 !important}
.app-cloud .app div{float:left; padding:10px 0; text-align: center; overflow-x: hidden; margin-top: 10px;}

.fb-link{background: url('/assets/facebook-small.png') no-repeat scroll left center; padding:10px 0 10px 40px;}

#wizard-step ul{margin-left:40px;}
#wizard-step li{margin: 15px 0; list-style-type: decimal}
#wizard-step .download{margin: 20px 0 10px 0;}
#wizard-step .download a{margin:0 5px 0 20px;}

#weibo-share form{margin: 0 !important}
#weibo-share .modal-footer{padding:10px !important}
#weibo-share textarea{width: 90%; height:60px}
#weibo-share label{display: inline;margin-left:10px}
#weibo-share p{padding-left:10px;}

#line-holder svg, #line-holder div{height: 160px !important}

#line-chart{margin-bottom: 20px}

.tabs-left .tab-content{width:80% !important; float:left}

svg {
  @include font; 
}

svg .label{font-weight: normal !important;font-size:13px}

#line-chart text{
  font-size: 12px;
}

#line-chart .value-line path{
	fill: none;
	stroke: #9abbec;
}

.line path {
	fill: #9abbec;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

#pie-chart path.pie-item{
 
   cursor: pointer;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke-opacity: .8;
}

.bar-chart{margin-top: 15px}
.bar-chart rect, #time-chart rect{}

.time-tip rect{@include high-opacity; }
.bar-hover{@include opacity;}

#zoom-line .axis path, #zoom-line .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#zoom-line path{}

#land{margin-top: 50px}
#land .sub, #land .sub2{color: #3b77c3}
#land .sub2{margin:5px; }
#land .sub{margin-bottom:10px;}
#land .ad-block{height:280px;}
#land .c{margin:10px 0; color: white;padding:15px 20px;}
#land .c1{background: #35b1f1}
#land .c2{background: #93d00d}
#land .c3{background: #f1c416}
#land .c4{background: #3b77c3}
#land img{margin-top:15px; @include opacity}
#land .ad-block h2{color: white}
#land p{text-align: right; margin-top:10px; width: 80%;margin-left:19%;}
#land .company{margin-top:-45px}
#land .account{text-align: right; margin-top:20px}
#land .btn-super{height:40px !important;line-height:40px !important;}
#land .logo{background:url('/assets/logo-big.png') no-repeat scroll left center; padding-left:65px; height:65px; padding-top:20px}
#land .logo span{font-size:30px; }

.hover_caption {}
.hover_caption h3{background:#000;margin-top:10px;padding:10px; width:340px; z-index:10; color:white; @include opacity}

.your, .total{ @include font; padding: 10px;margin: 0 3px; width: 10px !important; text-align: center; }
.your{background: steelblue}

.logo img{@include opacity; width:40px; height:40px; margin-right: 10px;}
.total{background: #003399}


