$opacity: 0.8;
$line-height: 25px;
@mixin opacity{filter:alpha(Opacity= $opacity * 100);-moz-opacity: $opacity; opacity: $opacity;fill-opacity: $opacity;}
@mixin low-opacity{filter:alpha(Opacity= $opacity * 0.5 * 100);-moz-opacity: $opacity * 0.5; opacity: $opacity * 0.5;}
@mixin high-opacity{filter:alpha(Opacity= $opacity * 1.2 * 100) !important;-moz-opacity: $opacity * 1.2 !important; opacity: $opacity * 1.2 !important;fill-opacity: $opacity * 1.2 !important;}

@mixin round{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

body{ margin:0; padding:0;height:100%; background: url('/assets/grid.png'); color: #000;}
a{color: #3b77c3}
li{list-style: none}
img{vertical-align:middle; margin-top:-5px;}
h1,h2,h3,h4,h5,h6{font-weight: normal !important}
.center{text-align: center}
.right{text-align: right}
.clear{clear:both}
.with-logo{background:url('/assets/logo.png') no-repeat scroll left center; padding-left: 45px}

.navbar-inner{@include high-opacity; }
.navbar a{color: white;}
.navbar .nav > li > a{color: #eee;}
.navbar .nav > li{border-top:2px solid transparent; }
.navbar .nav > li a{height:25px; line-height:25px}
.navbar .nav > li.active{border-top:2px solid #35b1f1;}
.navbar .dropdown-menu, .navbar .dropdown-menu a{color: #333;}

.navbar-banner div{float:left; width:33%;height:4px;}
.navbar-banner .blue{background-color: #35b1f1}
.navbar-banner .yellow{background-color: #93d00d}
.navbar-banner .green{background-color: #f1c416;width:34%}

.tabbable ul{background: #f3f3f3; padding:5px 10px 0 10px;}
.tabbable .tabs-left ul{background:none;padding:0;}

.brand{background: url('/assets/logo_white.png') no-repeat scroll left center;height:50px; padding:0 !important; padding-left:60px !important;margin-left:-20px !important;}

.main{background:#fff; min-height:600px; padding:25px 30px 40px 30px;border:1px solid #eee;
-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.header{height:60px; margin-top:15px;}
.header .logo{font-size:46px; line-height:46px;color:#555}
.header .logo img{height:50px;}

.block{@include round; background-color: #8ec1da; color: white; padding:10px; margin-bottom:20px}

.footer{margin:20px 0;}
.footer a{margin:0 10px}

.modal-header{background-color: hwiteSmoke !important}

.login-form{width:460px}
.login-form .modal-body{padding-bottom: 2px;}
.login-form .modal-footer{padding: 8px 15px 5px 15px;}
.login-form .control-group{margin-bottom:5px;}
.login-form .control-label{width:100px; line-height:30px;}
.login-form .controls{margin-left:120px}
.login-form .span2{width:150px;margin-right: 5px}
.login-form .btn{margin-top:0}
.login-form a{display: inline}
.login-form .footer-text{line-height: 30px;}
.login-form .error{color: #B94A48}
.login-form .input{height:30px; display:inline}
#login-tip{line-height:32px}

.calendar{width:330px;margin-bottom:-20px;}
.calendar .month{font-size: 150%;}
.calendar div{float:left;width:47px; text-align:center}
.calendar div.first{}
 #day-slider{width:300px;margin:10px}

hr.soften {
  height: 1px;
  margin: 40px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
.accept{text-align: center;margin:-10px 0 10px 0}

.b{margin-bottom: 10px; line-height:25px;  background: no-repeat scroll 15px center; width:100%;  color:White; }
.b a{color: white;display: block}
.p{padding: 10px 15px;}

.login-input{width:140px !important}
.login-label{text-align:right;}
   
.ad{padding:0; margin:0; margin-top: 20px;}
.ad li{margin-top: 20px}

.form-horizontal{margin:10px 0 10px 0;}
.form-horizontal input{margin-bottom: 10px;}

.feeds{padding:1px 0 0 0; margin:0;}
.feeds li{list-style: none; margin-top:20px; line-height: $line-height}
.feeds .feed-icon{width:48px;}
.feeds .sub{font-size: 80%; }
.feeds .sub a{margin-right:15px;}
.feeds .content{}

.app-cloud{margin:20px 0}
.app-cloud .user{padding:10px;height: 45px; line-height:45px; text-align:right}
.app-cloud .soften{margin:20px 0 !important}
.app-cloud .app div{float:left; padding:10px 0; text-align: center; overflow-x: hidden; margin-top: 10px;}

.fb-link{background: url('/assets/facebook-small.png') no-repeat scroll left center; padding:10px 0 10px 40px;}

#weibo-share form{margin: 0 !important}
#weibo-share .modal-footer{padding:10px !important}
#weibo-share textarea{width: 90%; height:60px}
#weibo-share label{display: inline;margin-left:10px}
#weibo-share p{padding-left:10px;}

.bar-chart .tab-content{margin-top: 20px}

#line-holder svg, #line-holder div{height: 160px !important}

#line-chart{margin-bottom: 20px}

.tabs-left .tab-content{width:80% !important; float:left}
#land .tabs-left ul{width:20% !important;background:none !important; padding:0}
#land .tabs-left .tab-content{width:75% !important; float:left;}
#land .desc a{color: white !important}
#land .tabs-left ul .active a, #land .tabs-left ul a:hover{color: black !important}

sup a{font-size:50%;margin:0 3px;}



.side-label{fill: #3b77c3}

svg .label{font-weight: normal !important;font-size:13px}

#line-chart text{
  font-size: 12px;
}

#line-chart .value-line path{
	fill: none;
	stroke: #9abbec;
}

.line path {
	fill: #9abbec;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

#pie-chart path.pie-item{
 
   cursor: pointer;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke-opacity: .8;
}

.bar-chart{margin-top: 15px}
.bar-chart rect, #time-chart rect{}

.time-tip rect{@include high-opacity; }
.bar-hover{@include opacity;}

#zoom-line .axis path, #zoom-line .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#zoom-line path{}

#land{margin-top: 10px}
#land .sub, #land .sub2{color: #3b77c3}
#land .sub2{margin:5px; }
#land .sub{margin-bottom:10px;}

#land .c{margin-bottom:20px; color: white;}
#land .c1{background: #35b1f1}
#land .c2{background: #93d00d}
#land .c3{background: #f1c416}
#land .c4{background: #3b77c3;height:auto}
#land h2{padding:15px;}

#land .ad-block{padding-bottom:10px }
#land .ad-block img{width: 100%; }
#land h2{color: white}
#land p{margin-top:10px;}
#land .company{margin-top:-35px; }

#land .account{ margin-top:20px}
#land .btn-super{height:40px !important;line-height:40px !important; min-width:220px !important}
#land .logo{background:url('/assets/logo.png') no-repeat scroll left top; padding-left:45px; height:65px; }
#land .logo span{font-size:30px; }
.hover_caption h3{margin-top:-5px !important;padding:15px !important}
#land .desc{padding:20px;}
#land .arrow{display: block; text-align: right}
#land .arrow img{width: 24px}
#land .free{position: absolute; margin:-76px 0 0 180px}
#land .center .btn{margin-left:40px !important}
#land .free img{width:250px}

#info p{padding:8px;}
#info li{padding:8px 0}

.check{background: url('/assets/check.png') no-repeat scroll right center;padding-right:30px;}

.hover_caption {}
.hover_caption h3{background:#000;margin-top:10px;padding:10px; z-index:10; color:white; @include opacity}

.your, .total{padding: 10px;margin: 0 3px; width: 10px !important; text-align: center; }
.your{background: steelblue}

.logo img{@include opacity; width:40px; height:40px; margin-right: 10px;}
.total{background: #003399}
.detail-sub{width:60%;}

.alert{color: #222 !important; line-height:20px !important;}
.alert hr{border-top: 0 !important;border-bottom:0 !important; margin: 10px !important;}

.reg-inline .control-label{width:80px !important}
.reg-inline .controls{margin-left:100px !important}
.reg-inline .control-group{margin-bottom: 5px !important}
.reg-inline .btn{margin-left:100px; min-width:120px;}
#reg-tip{margin-bottom:10px;}

.language{font-size:14px;}

.quick-start .step{margin:10px 0;}
.quick-start .step span{ font-size:26px; margin-right:10px; width:50px; text-align:center;}
.quick-start .step .content{padding-left:40px; margin-top:-20px; line-height:25px;}
