<% if @error.present? %>
  $("#reg-tip").html("<span class='error'><%= @error %></span>");
<% else %>
  $("#reg-tip").html("<%= t :reg_success %>");
  window.location.href = '<%= rsi_charts_path %>';
<% end %>